.community-header {
    padding: 24px 0;
    width: 100%;
    background-color: #333b3d;
}
.community-header__content {
    margin: 0 auto;
    max-width: 1160px;
}
.community-header_title {
    height: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: .71;
    color: #fff;
}
.community-header_sub-title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}
.community-body_content {
    width: 100%;
}
.community-body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1160px;
    padding: 0.75rem;
}
.community-body_navigation {
    flex: 1 1 172px;
    max-width: 172px;
    margin-right: 24px;
}
.community-aside {
    padding: 0.75rem;
}
.community-aside__group-name {
    margin-bottom: 1em;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #adb5bd;
}
.community-aside__menu-list > li {
    padding: 0.5em 0.75em;
    color: #000a12;
    font-weight: 300;
} 
.article_container {
    width: 75%;
    padding: 0.75rem;
    margin-bottom: 32px;
}
article.media {
    padding: 0.5em 1em;
    position: relative;
    align-items: flex-start;
    display: flex;
    text-align: left;
}
.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}
.post_content > .rating_star {
    width: 7.5rem;
    position: relative;
    display: inline-block;
}
.rating_star .star_solid {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}
.rating_star svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #fdcc11;
}
.media-content .post_metas {
    font-size: .75rem;
    margin-top: 0.25rem;
    color: #595959;
}
.post_metas .relative_course {
    color: #595959;
}
.post_metas .fa-heart {
    color: #ff7867;
}
.media-content .media-right {
    margin: auto 0.75rem auto 1rem;
    width: 100%;
    height: 78.125px;
    max-width: 120px;
    max-height: 78.125px;
    text-align: center;
}
.media-right figure {
    width: 120px;
    height: 78px;
    background: cornflowerblue;
}
.media-right img {
    width: 100%;
    height: 100%;
}
.media+.media {
    border-top: 1px solid hsla(0,0%,85.9%,.5);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(219, 219, 219, 0.5);
}
/* hot_courses */
.aside_content {
    width: 25%;
    padding: 0.75rem;
}
.hot_courses > h5 {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -1px;
}
.hot_courses > h5 > .fa-fire-flame-curved {
    color: tomato;
}
.hot_courses > ul > li {
    height: 48px;
}
.hot_courses .media {
    height: 100%;
    display: flex;
    align-items: center;
}
.hot_courses .media-left {
    height: 48px;
    width: 48px;
    margin-right: 1rem;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.hot_courses .media-right {
    white-space: nowrap;
    margin-left: 1rem;
}
.is_thumbnail {
    height: 48px;
    width: 48px;
    display: block;
    position: relative;
}
.is_thumbnail > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 290486px;
}
/* page-apply */
/* page-apply */
.page-apply {
    background: #f3f4f7;
}
.page-apply_wrap {
    display: flex;
    padding: 96px 0;
    max-width: 1152px;
    margin: 0 auto;
    justify-content: space-around;
}
.apply_card {
    text-align: center;
}
.apply_title {
        color: #333;
    font-size: 24px;
    margin-bottom: 8px;
}
.apply_desc {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.button.button_primary {
    background: #1dc078;
    color: #fff;
    font-size: 20px;
}
.apply_card .button {
    border-radius: 2px;
    padding: 8px 16px;
    border: none;
}